{{#resume.basics}}
    <h1>{{name}}</h1>
    <section id="basics">
        <div class="contact">
            {{#if email}}
                <span class="email">
                    <strong>E</strong>
                    <a href="mailto:{{email}}">{{email}}</a>
                </span>
            {{/if}}
            <span class="dot">&#183</span>
            {{#if phone}}
                <span class="phone"><strong>P</strong>+1 {{phone}}</span>
            {{/if}}
            <span class="dot">&#183</span>
            {{#if website}}
                <span class="website"><strong>W</strong><a href="{{website}}">{{website}}</a></span>
            {{/if}}
        </div>
        <hr class="style2">
        {{#if summary}}
            <h2>Summary of Qualifications</h2>
            <div class="summary">
                <p>{{summary}}</p>
            </div>
        {{/if}}
        <hr class="style2">
    </section>
{{/resume.basics}}
