{{#if resume.education.length}}
    <section id="education">
        <h2>Professional Development & Education</h2>
        {{#each resume.education}}
            <div class="item">
                {{#if studyType}}
                    <span class="studyType">{{formatStudyType studyType}}</span>
                {{/if}}
                {{#if area}}
                    <span class="area">{{area}}</span>
                {{/if}}
                <br>
                {{#if institution}}
                    <span class="institution">{{institution}}</span>
                {{/if}}
                {{#if location}}
                    <span class="location">{{location}}</span>
                {{/if}}
                {{#if endDate}}
                    <span class="year">{{formatYear endDate}}</span>
                {{/if}}
            </div>
        {{/each}}
        <hr class="style2">
    </section>
{{/if}}
